---
layout: default
title: Home
---

<h3>Posts</h3>
<div class="posts">
{% for post in paginator.posts %}
  <div>
    <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
    <p><strong><small>{{ post.date | date: "%B %e, %Y" }}</small></strong></p>
    <p>{{ post.excerpt }}</p>
  </div>
  <hr>
{% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
